.card {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-enter {
    animation: bounceIn 0.5s;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.9) translateY(5px);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}